/*
 * Copyright (C) Roman Rikhter <teledurak@gmail.com>, 2024
 * This program comes with ABSOLUTELY NO WARRANTY;
 * This is free software, and you are welcome to redistribute it under certain conditions;
 *
 * See /LICENSE for more details.
 */

class TelegramAPIKeys {
  /// App api_id from my.telegram.org
  static const int apiId = 12345678;

  /// App api_hash from my.telegram.org
  static const String apiHash = "1234567890abcdef1234567890abcdef";
}
