PART

/// DESCRIPTION
class CLASS_NAME extends PARENT {
  
  /// DESCRIPTION
  const CLASS_NAME(ARGUMENTS);
  VARIABLESEXTRA
  FROM_JSON
  @override
  Map<String, dynamic> toJson([dynamic extra]) {
    return {
      TO_JSON
    };
  }
  COPY_OVERRIDE
  CLASS_NAME copyWith(COPY_FIELDS) => COPY_RETUEN;

  static const String constructor = 'ID';
  
  @override
  String getConstructor() => constructor;
}
