PART

/// DESCRIPTION1
CLASS_MODIFIER class CLASS_NAME extends PARENT {
  
  /// DESCRIPTION2
  const CLASS_NAME(ARGUMENTS);
  VARIABLESEXTRA
  FROM_JSON
  @override
  Map<String, dynamic> toJson(JSON_ARGS)TO_JSON

  COPY_OVERRIDE
  CLASS_NAME copyWith(COPY_FIELDS)COPY_RETURN;

  static const String objectType = 'ID';

  @override
  String toString() => jsonEncode(toJson());

  @override
  String get instanceType => objectType;
}
